<h3 class="ui header">{{t "forms.i-i-s-kursovaya18-расторж-договора-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya18-расторж-договора-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-kursovaya18-расторж-договора-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya18-расторж-договора-e.номер-caption")
      data-test-i-i-s-kursovaya18-расторж-договора-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field" data-test-i-i-s-kursovaya18-расторж-договора-e-статус="true">
    <label>{{t "forms.i-i-s-kursovaya18-расторж-договора-e.статус-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-kursovaya18-статус")
      value=model.статус
      class=(if (v-get validationModel "статус" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "статус" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya18-расторж-договора-e.дирОтдПоРабСКл-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.дирОтдПоРабСКл
      relationName="дирОтдПоРабСКл"
      projection="ДирОтдПоРабСКлL"
      title=(t "forms.i-i-s-kursovaya18-расторж-договора-e.дирОтдПоРабСКл-caption")
      readonly=readonly
      componentName="дирОтдПоРабСКлLookup"
      class=(if (v-get validationModel "дирОтдПоРабСКл" "isInvalid") "error")
      data-test-i-i-s-kursovaya18-расторж-договора-e-дирОтдПоРабСКл=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дирОтдПоРабСКл" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.дирОтдПоРабСКл.фамилия
      class=(if (v-get validationModel.дирОтдПоРабСКл "фамилия" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya18-расторж-договора-e.дирОтдПоРабСКл.фамилия-caption")
      data-test-i-i-s-kursovaya18-расторж-договора-e-дирОтдПоРабСКл-фамилия=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.дирОтдПоРабСКл "фамилия" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya18-расторж-договора-e.клиент-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент
      relationName="клиент"
      projection="КлиентL"
      title=(t "forms.i-i-s-kursovaya18-расторж-договора-e.клиент-caption")
      readonly=readonly
      componentName="клиентLookup"
      class=(if (v-get validationModel "клиент" "isInvalid") "error")
      data-test-i-i-s-kursovaya18-расторж-договора-e-клиент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.клиент.фамилия
      class=(if (v-get validationModel.клиент "фамилия" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya18-расторж-договора-e.клиент.фамилия-caption")
      data-test-i-i-s-kursovaya18-расторж-договора-e-клиент-фамилия=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.клиент "фамилия" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya18-расторж-договора-e.заключДоговора-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.заключДоговора
      relationName="заключДоговора"
      projection="ЗаключДоговораL"
      title=(t "forms.i-i-s-kursovaya18-расторж-договора-e.заключДоговора-caption")
      readonly=readonly
      componentName="заключДоговораLookup"
      class=(if (v-get validationModel "заключДоговора" "isInvalid") "error")
      data-test-i-i-s-kursovaya18-расторж-договора-e-заключДоговора=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заключДоговора" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.заключДоговора.номер
      class=(if (v-get validationModel.заключДоговора "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya18-расторж-договора-e.заключДоговора.номер-caption")
      data-test-i-i-s-kursovaya18-расторж-договора-e-заключДоговора-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.заключДоговора "номер" "message")}}
  </div>
</form>
